# App specific
/spec/patterns/bin
/spec/patterns/atp
/spec/patterns/avc/outputns
/list/**/referenced.list

# Editor cruft
*.swp
*.swo
*~

# RGen local files
/.bundle
/target/.default
/environment/.default
/release_note.txt
/pkg
/.bin
/list/referenced.list
/tags
/.ref
/.ws
/.lsf
/.db
/log
/output
/web
/coverage
/.ref
/.yardoc
/.collection
/.bin
/.session
/.pdm/pi_attributes.txt
/.irb_history
/tmp
/.byebug_history

# Cruft from other revision control systems
.SYNC
.svn
