% render "layouts/guides.html" do

##### Decompiling

~~~ruby
~~~

* [See here for decompiling the example]()
* [See here for more on decompiling]()

##### Pins

~~~ruby
~~~

[See here for an example of working with pins]()
[See here for more on working with pins]()

##### Adding Pins

[See here for an example of adding pins]()
[See here adding pins from the `decompiler` level]()

##### Vectors

[See here for an example of working with vectors]()
[See here for more details on working with vectors]()

##### Executing

(<%= path "guides/decompilation/overview#Executing_the_Pattern_Source" %>)

</div>


% end
